.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/site-packages/**
NOTES.md
docs/app_docs/promotion/paste_text_from_image_uses_tesseact.js
docs
